<ul class="portraits list-inline">
  {% assign image_path = 'assets/images/gallery/' | prepend: {{ site.baseurl }} %}
  {% for foto in fotos %}
    <li>
      {% assign parts = foto.filename | split: '_' %}
      {% assign caption = foto.caption | foto_caption: foto.photographer %}
      <a href="{{ image_path }}{{ parts[0] }}_big_{{ parts[1] }}" target="_blank"
          class="swipebox" title="{{ caption }}">
        <img src="{{ image_path}}{{ foto.filename }}" alt="Diana Rojas, Schauspielerin, Regisseurin, Zürich"/>
      </a>
      <p class="caption">{{ caption }}</p>
    </li>
  {% endfor %}
</ul>
