@headings-font-weight:    300;

// Point at which the navbar becomes uncollapsed
@grid-float-breakpoint:     640px;

// Small screen / tabletf
@container-tablet:             ((720px + @grid-gutter-width));

// Medium screen / desktop
@container-desktop:            ((720px + @grid-gutter-width));

// Large screen / wide desktop
@container-large-desktop:      ((720px + @grid-gutter-width));

//@font-family-base:                  "Courier New", Courier, monospace;
@navbar-default-bg:                 #fff;
@navbar-default-link-hover-color:   #000;