.vita.row {
  .left {
    .download_vita {
      display: block;
      margin-bottom: 1.5em;
    }
    table {
      th {
        padding-right: 10px;
      }
      td {
       vertical-align: top;
       padding-right: 10px;
      }
      td:first-of-type {
        width: 60px;
      }
      td.large {
        width: 120px;
      }
      p {
        margin: 0px;
      }
    }

    .theater table .larger {
      width: 160px;
      @media(max-width: @screen-xs-max) {
        width: 60px;
      }
    }
    a.link-top {
      margin-top: 10px;
      margin-bottom: 30px;
      display: block;
    }
  }
}