<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <meta charset="utf-8">
  {% stylesheet styles %}
  <script type="text/javascript">{% asset modernizr %}</script>
  <title>Diana Rojas - {{ page.title }}</title>
</head>
<body>
<div id="header" class="container">
  {% include header.html %}
</div>
<div id="nav" class="container">
  {% include nav.html %}
</div>
<div id="content" class="container">
  {{ content }}
</div>
<div id="footer" class="container">
  {% include footer.html %}
</div>
{% javascript app %}
</body>
</html>