---
layout: default
title: Fotos
---
<div class="fotos row">
  <div class="left">
    <div id="portraits" class="gallery">
      {% include fotos_portrait.html %}
    </div>
  </div>
</div>
<div class="fotos row">
  <div class="left">
    <div id="cuerpo" class="gallery">
      {% include fotos_portrait.html %}
    </div>
  </div>
</div>
<div class="fotos row">
  <div class="left">
    <div id="set" class="gallery">
      {% include fotos_portrait.html %}
    </div>
  </div>
</div>
<div class="fotos row">
  <div class="left">
    <div id="theater" class="gallery">
      {% include fotos_portrait.html %}
    </div>
  </div>
</div>

</div>