---
layout: default
title: Fotos
---
<div class="fotos row">
  <div class="left">
    <h3>Portraits</h3>
    <div id="portraits" class="gallery">
      {% assign fotos = site.data.fotos_portrait %}
      {% include fotos_list.html %}
    </div>
  </div>
</div>
<div class="fotos row">
  <div class="left">
    <h3>Cuerpo</h3>
    <div id="cuerpo" class="gallery">
      {% assign fotos = site.data.fotos_cuerpo %}
      {% include fotos_list.html %}
    </div>
  </div>
</div>
<div class="fotos row">
  <div class="left">
    <h3>Set</h3>
    <div id="set" class="gallery">
      {% assign fotos = site.data.fotos_set %}
      {% include fotos_list.html %}
    </div>
  </div>
</div>
<div class="fotos row">
  <div class="left">
    <h3>Theater</h3>
    <div id="theater" class="gallery">
      {% assign fotos = site.data.fotos_theater %}
      {% include fotos_list.html %}
    </div>
  </div>
</div>

</div>

<script type="text/javascript" src="{{ site.baseurl }}assets/js/jquery.swipebox.min.js"></script>
<script type="text/javascript">
  jQuery(function($) {
    $(".swipebox").swipebox()
    console.log('swipeboxed')
  });
</script>