---
layout: default
title: Links
description: Links zu Diana Rojas-Feile, Freunden, Fotografen und Theater
---
<div class="links row">
  <div class="left">
    <img src="{{ site.baseurl }}assets/images/luca_briciotti_dianarojas_portrait7.jpg"
         class="page-main-image"/>
  </div>

  <div class="left">

    <h3>Noch mehr Infos &uuml;ber mich</h3>

    <div class="link_list">
      {% assign links = site.data.links_diana %}
      {% include link_list.html %}
    </div>

    <h3>Amigos</h3>

    <div class="link_list">
      {% assign links = site.data.links_amigos %}
      {% include link_list.html %}
    </div>

    <h3>Fotografen</h3>

    <div class="link_list">
      {% assign links = site.data.links_fotografen %}
      {% include link_list.html %}
    </div>

    <h3>Wo ich ab und zu spiele</h3>

    <div class="link_list">
      {% assign links = site.data.links_spielorte %}
      {% include link_list.html %}
    </div>

  </div>
</div>
