---
layout: default
title: Vita
---

<div class="vita row">
  <div class="left">
    <img src="{{ site.baseurl }}assets/images/luca_briciotti_dianarojas_portrait3.jpg"
         class="page-main-image"/>
  </div>
</div>
<div class="vita row">

  <div class="left">
    <div class="vita-nav">
      <ul id="vita-nav" class="nav nav-tabs navbar-static" role="navigation">
        <li><a href="#ausbildung">Ausbildung</a></li>
        <li><a href="#film">Film/Foto</a></li>
        <li><a href="#theater">Theater</a></li>
        <li><a href="#sprechen">Sprechen</a></li>
        <li><a href="#performance">Perfomances & Kunstprojekte</a></li>
      </ul>
    </div>

    <div data-spy="scroll" data-target="vita-nav" data-offset="0" class="vita-content">
      <div class="eigenschaften">
        <table>
        {% for eig in site.data.vita_eigenschaften %}
          <tr>
            <td class="large">{{ eig.label | textilize }}</td>
            <td>{{ eig.value | textilize }}</td>
          </tr>
        {% endfor %}
        </table>
      </div>
      <a class="link-top" href="#top">nach oben</a>

      <div class="ausbildung">
        <h4 id="ausbildung">Ausbildung</h4>
        <table>
        {% for school in site.data.vita_ausbildung %}
          <tr>
            <td class="large">{{ school.year }} </td>
            <td>{{ school.name }}, {{ school.school }}, {{ school.city }} </td>
          </tr>
        {% endfor %}
        </table>
      </div>
      <a class="link-top" href="#top">nach oben</a>

      <div class="film">
        <h4 id="film">Film/Foto</h4>
        <table>
          <tr>
            <th>Jahr</th>
            <th>Titel</th>
            <th>Rolle</th>
            <th>Regie/FotografIn</th>
            <th>Produzent</th>
          </tr>
        {% for film in site.data.vita_film %}
          <tr>
            <td>{{ film.year }}</td>
            <td>{{ film.title }} ({{ film.type }})</td>
            <td>{{ film.role }}</td>
            <td>{{ film.director }}</td>
            <td>{{ film.company }}, {{ film.city }}</td>
          </tr>
        {% endfor %}
        </table>
      </div>
      <a class="link-top" href="#top">nach oben</a>

      <div class="theater">
        <h4 id="theater">Theaterengagements</h4>
        <table>
          <tr>
            <th>Jahr</th>
            <th class="larger">Titel</th>
            <th class="larger">Regie</th>
            <th>Theater</th>
          </tr>
          {% for play in site.data.vita_theater %}
            <tr>
              <td>{{ play.year }}</td>
              <td>{{ play.title }}</td>
              <td>{{ play.director }}</td>
              <td>{{ play.theatre }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <a class="link-top" href="#top">nach oben</a>

      <div class="sprechen">
        <h4 id="sprechen">Engagements als Sprecherin</h4>
        <table>
          {% for gagi in site.data.vita_sprechen %}
          <tr>
            <td>{{ gagi.year }}</td>
            <td>{{ gagi.title }}</td>
            <td>{{ gagi.type }}</td>
            <td>{{ gagi.client}} {{ gagi.city }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <a class="link-top" href="#top">nach oben</a>

      <div class="performance">
        <h4 id="performance">Engagements in Performances und Kunstprojekten</h4>
        {% textile performances.textile %}
      </div>
      <a class="link-top" href="#top">nach oben</a>

    </div>
  </div>
</div>
